# Laravel
/backend/vendor/
/backend/.env
/backend/storage/*.key

# Next.js
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.production.local

# macOS
.DS_Store